<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">الحياه الاكاديميه </a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-goals"> قسم ترميم الاثار</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                 قسم ترميم الاثار 
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <p>يعد قسم ترميم الآثار حلقة الوصل بين علم الآثار من جهة ، والعلوم التطبيقية الأخرى مثل : الكيمياء والطبيعة والجيولوجيا والهندسة من جهة أخرى ، بالإضافة إلى الفنون بشتى أنواعها ، حيث يهتم بالجانب العملي التطبيقي لدراسة تقنيات وتكنولوجيا المواد القديمة ، بالإضافة إلى أهم المواد والطرق العلمية المستخدمة في علاج 
                وترميم وصيانة الآثار، والحفاظ على المباني والمواقع الأثرية والتراثية.
            </p>
            <strong>يضم القسم عدد (7) معامل لتدريب الطلاب، وهي كالتالي :</strong>
            <ul style="list-style: circle;">
                <li>&nbsp;&nbsp; معمل الأحجار وأعمال الجص </li>
                <li>&nbsp;&nbsp;		معمل الصور الجدارية </li>
                <li>&nbsp;&nbsp;	معمل الأخشاب</li>
                <li>&nbsp;&nbsp;		معمل المعادن والفخار والزجاج </li>
                <li>&nbsp;&nbsp;  معمل اللوحات الزيتية </li>
                <li>&nbsp;&nbsp; معمل النسيج والسجاد </li>
                <li>&nbsp;&nbsp; معمل المخطوطات والوثائق القديمة </li>
            </ul>
            
                <strong>أهداف القسم</strong><br>
                <ul style="list-style: circle;">
                    <li>&nbsp;&nbsp; إعداد كفاءات مؤهلة ومتخصصة في مجال ترميم وصيانة الآثار تخدم متطلبات سوق العمل.</li>
                    <li>&nbsp;&nbsp; نشر ثقافة الجودة بين منسوبي القسم من أساتذة وطلاب فيما يتعلق بالعملية التعليمية ومجالات العمل المختلفة. </li>
                    <li>&nbsp;&nbsp; العمل على الإرتقاء بالبيئة التعليمية عن طريق تطوير البرامج واللوائح الدراسية الخاصة بالقسم لمواكبة سوق العمل ، وتطوير وتجهيز المعامل الطلابية وقاعات المحاضرات. </li>
                    <li>&nbsp;&nbsp; تفعيل دور القسم في المشاركة المجتمعية عن طريق تقديم الاستشارات الفنية للمشروعات ذات الصلة وخاصة مشروعات ترميم الآثار، وعمل شراكات فعالة مع مؤسسات المجتمع المحلية والدولية بما يخدم كافة الأطراف. </li>
                </ul>

                <strong>معامل قسم ترميم الآثار</strong>
                <ol>
                    <li>&nbsp;&nbsp; <strong>معمل الأحجار وأعمال الجص:</strong><br>
                        يتعلم الطالب في معمل الأحجار التقنيات العملية لنحت اللوحات الحجرية وأهم الأدوات المستخدمة بالإضافة إلى استخدام المواد الملونة الطبيعية ، لمحاكاة التقنيات القديمة في نحت وتلوين المشغولات الحجرية الأثرية ، ويدرس العوامل المُتلفة لهذه المشغولات الحجرية وطرق تسجيلها وتوثيقها ، بالإضافة إلى عمليات العلاج والصيانة حتى يكون الطالب قادراً على بدء العمل الميداني بالمتاحف والمواقع الأثرية .
                        <div class="photo-unve-pres mt-4">
                            <img style="height: 300px;" src="../../../../../assets/photo/m1.png">
                            <img style="height: 300px;" src="../../../../../assets/photo/m2.png">
                            <img style="height: 300px;" src="../../../../../assets/photo/m3.png">
                            <img style="height: 300px;" src="../../../../../assets/photo/m4.png">

                        </div>
                     </li>
                     <li>&nbsp;&nbsp; <strong>معمل الأخشاب :</strong><br>
                        يختص هذا المعمل بتدريب الطلاب على تقنيات وتكنولوجيا صناعة الآثار الخشبية ، وأهم أدوات النجارة التي استُخدمت في الصناعة ، والأنواع المختلفة للآثار الخشبية ، بالإضافة إلى تدريب الطلاب على أهم الطرق والمواد العلمية المُستخدمة في ترميم وصيانة الآثار الخشبية .
                        <div class="photo-unve-pres mt-4">
                            <img style="height: 300px;" src="../../../../../assets/photo/m5.png">
                        </div>
                     </li>
                     <li>&nbsp;&nbsp; <strong>معمل الصور الجدارية :</strong><br>
                        يتم تدريب الطلبة في الفصل الدراسي الأول على تقنيات صناعة الجداريات القديمة وطرق وطبقات التحضير المختلفة للصور الجدارية.
يتم تدريب الطلبة في الفصل الدراسي الثاني على علاج وترميم وصيانة الصور الجدارية باستخدام طرق التنظيف الميكانيكى والكيميائي والعزل لعدم التعرض للتلف مرة أخرى.

                        <div class="photo-unve-pres mt-4">
                            <img style="height: 300px;" src="../../../../../assets/photo/m6.png">
                        </div>
                     </li>
                     <li>&nbsp;&nbsp; <strong> معمل المعادن والفخار والزجاج  :</strong>يتدرب الطالب في هذا المعمل على :<br>                        تقنيات صياغة وتشكيل وزخرفة المعادن من خلال استخدام الأدوات المختلفة لتشكيل وزخرفة المعادن من جهة ، ومن جهة أخرى على علاج وترميم وصيانة المعادن باستخدام طرق التنظيف الميكانيكي والكيميائي والعزل لعدم التعرض للتلف مرة أخرى .<br>
                        وتقنيات صناعة وزخرفة الفخار والخزف والزجاج الأثري من جهة ، ومن جهة أخرى على علاج وترميم وصيانة الفخار والخزف والزجاج الأثري باستخدام طرق التنظيف الميكانيكي والكيميائي والعزل لعدم التعرض للتلف مرة أخرى .<br>

                        <div class="photo-unve-pres mt-4">
                            <img style="height: 300px;" src="../../../../../assets/photo/m7.png">
                        </div>
                     </li>
                     <li>&nbsp;&nbsp; <strong>معمل اللوحات الزيتية:</strong><br>
                        يختص هذا المعمل بتدريب الطلاب على تقنيات التصوير الزيتي، وكيفية استنساخ لوحات زيتية بنفس الطريقة والأسلوب التي اتبعها الفنان، بالإضافة إلى تدريب الطلاب على أهم الطرق والمواد العلمية المستخدمة في ترميم وصيانة اللوحات الزيتية التاريخية. 
                        <div class="photo-unve-pres mt-4">
                            <img style="height: 300px;" src="../../../../../assets/photo/m8.png">
                            <img style="height: 300px;" src="../../../../../assets/photo/m9.png">
                            <img style="height: 300px;" src="../../../../../assets/photo/m10.png">
                        </div>
                     </li>
                     <li>&nbsp;&nbsp; <strong>معمل النسيج والسجاد :</strong><br>
                        يتم تدريب الطلاب فى معمل النسيج والسجاد على تقنيات  صناعة وزخرفة المنسوجات كما كان يفعل المصريون القدماء حيث يتم تدريب الطلاب على كيفية عمل النسيج بالتراكيب النسجية المختلفة فضلا عن تدريبهم على كيفية عمل نسيج القباطى والنسيج المزخرف بخيوط السيرما الذهبية والفضية كما هو الحال فى كسوة 
                        الكعبة . كما يتم تدريب الطلاب على كيفية صناعة السجاد اليدوى باستخدام طريقة العقد بأنواعها المختلفة والتى شاعت فى العصر الإسلامى. فضلا عن التدريب على الطرق العلمية لعلاج وصيانة المنسوجات الأثرية ابتدءا بعملية التوثيق العلمى ومرورا بعمليات التنظيف والتقوية والعرض بشغل الأبرة بالإضافة الى تدريبهم على كيفية صباغة الخيوط والألياف المختلفة.
                        <div class="photo-unve-pres mt-4">
                            <img style="height: 300px;" src="../../../../../assets/photo/m12.png">
                            <img style="height: 300px;" src="../../../../../assets/photo/m13.png">
                        </div>
                     </li>
                     <li>&nbsp;&nbsp; <strong>- معمل المخطوطات والوثائق القديمة :</strong> : يتدرب الطالب في هذا المعمل على :<br>
                        يختص هذا المعمل بتدريب الطلاب على تقنيات وتكنولوجيا صناعة المخطوطات والوثائق القديمة مثل البردي والرق والورق، بالإضافة إلى تدريب الطلاب على أهم الطرق والمواد العلمية المستخدمة في ترميم وصيانة المخطوطات والوثائق القديمة.                        <div class="photo-unve-pres mt-4">
                            <img style="height: 300px;" src="../../../../../assets/photo/m14.png">
                            <img style="height: 300px;" src="../../../../../assets/photo/m15.png">
                        </div>
                     </li>
                </ol>
                <h4 style="margin-bottom: 20px;">أعضاء هيئه التدريس</h4>
            <img src="../../../../../assets/photo/staff.png">
        </div>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>




<app-scroll></app-scroll>

<app-footer></app-footer>

