<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);"> الحياه الأكاديمية</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-goals"> الساعات المعتمده</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                 نظام الكليه
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <ol>
                <li>&nbsp;&nbsp;‌.	تعتمد الدراسة بالكلية علي نظام الساعات المعتمدة وتكون الساعة المعتمدة وحدة قياس دراسية لتحديد ثقل المقرر الدراسي وتكون محاضرة زمنها ساعة واحدة وأما أن تكون ساعتان أو ثلاثة أو أربع ساعات تمارين أو تدريبات عملية  </li>
                <li>&nbsp;&nbsp;	علي الطالب أن يحدد التخصص الرئيسي وكذلك التخصص الفرعي إذا رغب فيه بعد إجتيازه بنجاح ما مجموعه 72 ساعة معتمدة ولا يجوز تغير ذلك الا بموافقة مجلس الكلية.</li>
                <li>&nbsp;&nbsp;	يتم اعلان الطلاب بالتخصصات الدراسية المختلفة بالكلية والمنصوص عليها باللائحة خلال فتره التقدم للكلية.</li>
                <li>&nbsp;&nbsp;	يتم توزيع الطلاب علي التخصصات حسب رغباتهم وطبقا لشروط القبول المحددة من كل قسم.</li>
                <li>&nbsp;&nbsp; 	مستويات الدراسة بالكلية أربعة ويشار إلى الطلاب بهذة المستويات وتسمي بالمسميات التالية:
                    <ul>
                        <li> المستوي الاول: يسمي الطالب "مبتدئ" (freshman) قبل اتمامه 36 ساعه معتمدة. </li>
                        <li> المستوي الثانى: يسمي الطالب "مستجد" (Sophomore) بعد اتمامه 36 ساعه معتمدة. </li>
                        <li> المستوي الثالث: يسمي الطالب "حديث" (Junior) بعد اتمامه 72 ساعه معتمدة. </li>
                        <li> المستوي الرابع: يسمي الطالب "قديم" (Senior) بعد اتمامه 108 ساعه معتمدة.</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>




<app-scroll></app-scroll>

<app-footer></app-footer>

