<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">الحياه الاكاديميه </a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-goals"> قسم الارشاد السياحي</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                 قسم الارشاد السياحي 
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <p>
                <strong>تقوم الدراسة في قسم الارشاد السياحي على جانبين:</strong><br><br>
                <strong>الجانب النظري:</strong> 
                يتمثل في إلقاء محاضرات للطلاب عن طريق السادة أعضاء هيئة التدريس والأكاديميين والخبراء.
                <br>
                <br>
                <strong>الجانب العملي: </strong>
                ويتمثل في تطبيقات عملية طوال فترة الدراسة في المناطق والمواقع الأثرية المختلفة لاسيما وأن الكلية داخل نطاق أحد أهم المدن الأثرية والتاريخية على مستوي العالم، بالإضافة إلى التدريب الصيفي للطلاب والذي يتيح فرصة التعامل مع المرشدين القدامى.
الجدير بالذكر أن الدراسة بالقسم باللغة الإنجليزية فقط كونه قسم مميز بمصروفات دراسية وهو الأمر الذي تنتهجه الكلية من أجل تجويد العملية التعليمية وتوفير بيئة تعليمية مناسبة وملائمة لاحتياجات سوق العمل.
ويعني قسم الإرشاد السياحي على دراسة جميع الحضارات المختلفة التي عاصرتها مصر كالحضارة المصرية القديمة واليونانية الرومانية والقبطية والإسلامية بصورة شيقة بالإضافة إلى دراسة الكتابة المصرية القديمة ومدى أهميتها بالإضافة إلى دراسة تاريخ وحضارة مصر القديمة، وآثار مصر القديمة، وتراث مصر الثقافي اللامادي، والأدب المصري القديم، والإرشاد السياحي وتاريخ ومعالم مصر الحديثة.
ويضم البرنامج التعليمي للقسم مجموعة من الزيارات والرحلات الدراسية التعليمية لزيارة المواقع الأثرية المختلفة داخل محافظة الأقصر وكافة أنحاء مصر (أسوان، القاهرة، الإسكندرية، ...) كما يكتسب الطالب الطرق المثلي لكيفية التعامل مع السائحين المصريين والأجانب من خلال دراسة أساليب الإرشاد السياحي.

            </p>
           

    </div>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>




<app-scroll></app-scroll>

<app-footer></app-footer>
