<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الكلية</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/history">تاريخ الكلية</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                تاريخ الكلية
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="body-artical">
                صدر القرار الجمهوري بإنشاء كلية الفنون الجميلة بالأقصر في 22/5/1996م، وبدأت الدراسة بالكلية في العام الجامعي 96/1997م، ويرجع اختيار مدينة القصر مقراً للكلية لما تتمتع به هذه المدينة من تراث حضاري عريق يمثل مدرسة من أهم مدارس فنون النحت والتصوير والعمارة في التاريخ القديم والحديث، فهي مدينة طيبة التي قال عنها الشاعر الإغريقي (هوميروس) اسم المدينة ذات المائة باب لكثرة ما بها من صروح معمارية عالية وبوابات شاهقة، وأطلق عليها العرب فيما بعد مدينة الأقصر أي مدينة القصور، وذلك بعد أن بهرتهم بعمائرها وصروحها البديعة والمتألقة بجمال متميز لم يأتي له نظير، وكانت مدينة الأقصر مقراً لحكم الدولة المصرية فيما بين عامي 2100 و 750 قبل الميلاد، ولهذا جاءت الكلية لتتواصل بالدراسة والبحث مع جذورها الثقافية متمثلة في معطيات حضارية مصرية أصيلة كانت مصدراً مهماً للإلهام من مصادر حركة الحداثة العالمية على مستوى الفنون التشكيلية منذ الربع الأخير من القرن التاسع عشر وحتى الآن، حيث تسعى الكلية لتكون مركزاً حضارياً على المستوى المحلي والعالمي.
                مدة الدراسة بالكلية لنيل درجة البكالوريوس خمس سنوات تبدأ بسنة إعدادية لتخصص العمارة وسنة إعدادية لتخصص الديكور، وسنة إعدادية مشتركة لتخصصات ( التصوير – الجرافيك – النحت ) ويحدد الطالب بعدها تخصصه طبقاً للمقررات الواردة بجداول الخطة الدراسية وطبقاً لنظام السنة الدراسية الكاملة، ويبدأ التخصص الدقيق بأقسام الكلية بالفرقة الثالثة، حيث ينقسم قسم التصوير إلى شعبتين (التصوير - التصوير الجداري)، وقسم الجرافيك يضم شعبتي (التصميمات - الرسوم المتحركة وفن الكتاب) وقسم النحت يضم شعبتي (النحت الفراغي والميداني – الميدالية والنحت البارز).
                
        </div>

    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>
