
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fname</th>
                <th scope="col">Lname</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersData">
                <th scope="row">{{user._id}}</th>
                <td>{{user.fname}}</td>
                <td>{{user.lname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.role}}</td>
              </tr>
            </tbody>
          </table>
  