<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الكلية</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-president">كلمة عميد الكلية</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                كلمة عميد الكلية
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="photo-unve-pres">
                <img src="../../../../../assets/photo/pres.png.jpg" alt="رئيس الجامعة"  class="UniversityPresidentImg">
            </div>
            
            <div class="head-artical">بسم الله الرحمن الرحيم</div>
            <div class="body-artical">ابنائي وبناتي طالب كلية الطب الجدد مع اشراقة عام جامعي جديد نستقبله بالبشرى والسرور واألمل لنسلك درب العلم وسبيل المعرفة بكل نشاط وهمة تصميما على بلوغ اهدافنا وتحقيق طموحاتنا ، يسعدني أن ارحب بكم في كليتكم، واسأل هللا العلي العظيم أن تسعدوا بحياتكم الجامعية الجديدة، وادعوكم لبذل الجهد في سبيل تحصيل العلم والحرص على آداب مهنة الطب وهي أسمى
                المهن وهذا يتطلب الكثير من الحرص واالخالص في العمل أثناء الدراسة وبعد التخرج ،
                فاحرصوا أيها االبناء على االستفادة من كل ما تقدمه الكلية والتزموا بالقيم والتقاليد والنظم
                الجامعية، وذلك لتخريج طبيب مزود بالمعرفه والمهارات الالزمة ومؤهل علمياً للتعامل مع
                 
                
                نشأة
                 
                مشاكل المرضى الصحية بكفاءة وفاعلية مع مراعاه آداب المهنة. يسعدنا أن نقدم لكم هذا الدليل والذي يتضمن كل ما يحتاجه الطالب من معلومات عن
                 
                الكلية وأنشطتها وأقسامها المختلفة وكذلك الئحة الكلية ونظام الدراسة بها، كما نقدم لكم رؤية
                ورسالة الكلية وواجبها فى تخريج طبيب ذو مواصفات عالية الجودة قادر على المنافسة في سوق
                العمل المحلى والعربى والدولي. ونحن من جهتنا سنبذل قصارى الجهد لتذليل كل الصعوبات التي تواجهكم ومستعدون فى أى وقت للحوار والتواصل المباشر بيننا وبينكم فأنتم أبناؤنا وفلذة أكبادنا ونحن هنا كلنا مسخرون
                لخدمتكم.
                وأخيراً أتمنى لكم التوفيق فى دراستكم وأوصيكم ببذل قصارى الجهد كي تكونوا أطباء صالحين
                تساهمون في رفعة هذا الوطن.
                </div>
            <div class="foot-artical"> والله ولى التوفيق،،،</div>
            <div class="Signature-artical">
                <strong><i>عميد كليه طب</i></strong>
                <div class="h6">أ.د/ حمدي محمد حسين</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<div class="clear"></div>

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/about/info/history"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/about/facing-corona">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>
