<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);"> الحياه الاكاديميه</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-goals">قسم الآثار المصريه</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                 قسم الآثار المصريه 
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <p>
            يهتم قسم الآثار المصرية بدراسة الحقب التاريخية المختلفة للحضارة المصرية القديمة ( فجر التاريخ – العصر العتيق – الدولة القديمة – عصر الإضمحلال الأول – الدولة الوسطى – عصر الإضمحلال الثاني – الدولة الحديثة – العصر المتأخر – فترة حكم الإسكندر– العصر اليوناني الروماني – العصر القبطي ) :
            </p>
            <strong> وذلك عن طريق دراسة العديد من التخصصات</strong>
            <ul style="list-style: circle;">
                <li>&nbsp;&nbsp;( التاريخ – الحضارة – العمارة والفنون – الديانة ) خلال العصور المصرية القديمة .</li>
                <li>&nbsp;&nbsp; علم المتاحف و الحفائر الأثرية في مصر .</li>
                <li>&nbsp;&nbsp;اللغة المصرية القديمة بخطوطها المختلفة ( هيروغليفي – هيراطيقي - ديموطيقي ) ، وكذلك دراسة اللغة القبطية بلهجتيها الصعيدية و البحيرية .</li>
                <li>&nbsp;&nbsp;		تاريخ و آثار و فنون مصر في العصر اليوناني – الروماني . </li>
                <li>&nbsp;&nbsp; حضارات الشرق الأدنى القديم . </li>
                <li>&nbsp;&nbsp; حضارات شبه الجزيرة العربية . </li>
            </ul>

            <strong>أهداف القسم</strong><br>
                 <p>
                    يهدف قسم الآثار المصرية إلى بناء جيل ذو كفاءة يشعر بفخر انتمائه لجذوره وللأرض المصرية يعمل في شتى المجالات الذي يتيحها له سوق العمل في مجالات العمل الأثري المختلف . جيل يمكن الاعتماد علية في إدارة شئون الآثار ووضع وتنفيذ سياستها المختلفة ، ومن ثم يكون قادراً علي إدارة التراث
                    القومي ، وكذلك يمكن بما لديه من شعور بالانتماء أن يقوم بتوعية المجتمع بأهمية الآثار والتراث بل والحفاظ عليه .
                 </p>

                <strong>الزيارات الميدانية :</strong>
                <p>
                    تقوم كلية الآثار – قسم الآثار المصرية بمساعدة الطلاب في فهم ما يقومون بدراسته خلال العام الدراسي من آثار وفنون عن طريق الزيارات الميدانية لمختلف الأماكن الأثرية ( معابد – مقابر – متاحف ) وذلك طبقاً للائحة الكلية التي تنص على أن يؤدي الطالب عدد ( 70 ) ساعة تطبيق عملي لما يتم دراسته خلال العام الدراسي ( اليوم الواحد = 8 ساعات ) .
                    <br>
                    لذلك تحرص إدارة كلية الآثار تحت رعاية الأستاذ الدكتور / عميد الكلية ، والأستاذ الدكتور / رئيس قسم الآثار المصرية على الإهتمام بالزيارات الميدانية والرحلات الإرشادية للمناطق الأثرية بناء على برنامج زيارات علمي تم وضعه ليشمل الأربعة سنوات التي يلتحق بها الطالب بالكلية على النحو التالي :
                </p>
                <ol>
                    <li>&nbsp;&nbsp; <strong> الزيارات الطويلة :</strong><br>
                        تقوم كلية الآثار – قسم الآثار الإسلامية بمساعدة الطلاب في فهم ما يدرسونه خلال العام الدراسي من آثار وفنون عن طريق الزيارات الميدانية وذلك طبقاً للائحة الكلية التي تنص على أن يؤدي الطالب عدد ( 70 ) ساعة تطبيق عملي لما يتم دراسته خلال العام الدراسي ( اليوم الواحد = 8 ساعات ) .
                        <br><br>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                  <th scope="col">م</th>
                                  <th scope="col">الرحلة</th>
                                  <th scope="col">الجهة</th>
                                  <th scope="col">عدد الأيام الكلي شاملة السفر ذهاباً وإياباً</th>
                                  <th scope="col">عدد الساعات</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>الأولى</td>
                                  <td>القاهرة والجيزة</td>
                                  <td>6</td>
                                  <td>48</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>الثانيه</td>
                                    <td>منطقة مصر الوسطى</td>
                                    <td>5</td>
                                    <td>40</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>الثالثه</td>
                                    <td>الأقصر وأسوان</td>
                                    <td>7</td>
                                    <td>56</td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td>الرابعه</td>
                                    <td>الإسكندرية وشرق الدلتا</td>
                                    <td>7</td>
                                    <td>56</td>
                                  </tr>
                              </tbody>    
                        </table>
                     </li>
                     <li>&nbsp;&nbsp; <strong>زيارات اليوم الواحد :</strong><br>
                        بعد المشاركة في الرحلات الطويلة يتبق لكل طالب عدد من الساعات حتى يكمل الـ ( 70 ) ساعة المقررة عليه ، ويمكن للطالب إكمال هذا العدد من الساعات بالمشاركة في زيارات اليوم الواحد طبقاً لجدول هذه الزيارات .
                     </li>
                </ol>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>




<app-scroll></app-scroll>

<app-footer></app-footer>

