<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">الحياه الاكاديميه </a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-goals"> قسم الدراسات الفندقيه</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                 قسم الدراسات الفندقيه 
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <p>
                <strong>تقوم الدراسة في قسم  الدراسات الفندقيه على جانبين:</strong><br><br>
                <strong>الجانب النظري:</strong> 
                يتمثل في إلقاء محاضرات للطلاب عن طريق السادة أعضاء هيئة التدريس والأكاديميين والخبراء.
                <br>
                <br>
                <strong>الجانب العملي: </strong>
                ويتمثل في تطبيقات عملية طوال فترة الدراسة في المطبخ والمطعم وفندق الكلية التعليمي، بالإضافة إلى التدريب الصيفي الإجباري للطلاب في شركات الفنادق والمنتجعات ومنشآت الضيافة المختلفة.
                ويوجد بالقسم برامج باللغة العربية وأخري مميزة باللغة الإنجليزية بمصروفات دراسية إضافية وهو الأمر الذي تنتهجه الكلية من أجل تجويد العملية التعليمية وتوفير بيئة تعليمية مناسبة وملائمة لاحتياجات سوق العمل.
                وتقوم الدراسة بالقسم لأساسيات الإدارة الفندقية وتسمى أيضًا بإدارة الضيافة وهي تعني بكل ما له علاقة بإدارة الفنادق والمنتجعات والمطاعم، حيثُ يتعلّم الطالب كلَّ م له علاقة بالفندق ومنشآت الضيافة، ومراحل نشأة وتطور صناعة الفنادق عبر العصور وحتى الوقت الحالي، والتعرف على أنواع التصنيف المتبع دوليًا ومحليًا للفنادق، والتعرف على أسس وشروط التقييم للفنادق، والهيكل التنظيمي للفنادق، ووصف الوظائف للأقسام الفندقية، والإلمام بالسياسات المختلفة المتبعة في إدارة الفنادق.
                ومن ضمن المقررات على سبيل المثال: المكاتب الأمامية والاشراف الداخلي وخدمة الاغذية والمشروبات وتصميم قوائم الطعام وتخطيط الوجبات وإدارة الموارد البشرية والتسويق الفندقي والقيادة وريادة الاعمال والمحاسبة والإحصاء وهي المقررات التي تمكن الخريج من مواكبة التطور الهائل في صناعة الضيافة.
                تقوم الكلية بتشجيع الطلاب على التدريب العملي لربط الجانب الأكاديمي مع الجانب العملي حيث بالتدريب في أقسام المطابخ، المطاعم، أقسام المكاتب الأمامية، المطاعم لمدة شهر/ شهرين في فصل الصيف.                

            </p>

    </div>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>




<app-scroll></app-scroll>

<app-footer></app-footer>
