<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);"> الحياه الاكاديميه</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-goals"> فسم الديكور</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                 قسم الديكور
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <h4 style="margin-bottom: 20px;">أعضاء هيئه التدريس</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">م</th>
                    <th scope="col">الاسم</th>
                    <th scope="col">القسم</th>
                    <th scope="col">الدرجه العلميه</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>أ.م.د/ داليا صالح عبد الوهاب فرح </td>
                    <td>الديكور</td>
                    <td>استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>أ.م.د/ اسامة حسن إسماعيل </td>
                    <td>الديكور</td>
                    <td>استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>أ.م.د/ عمرو عبد العاطي محمد  </td>
                    <td>الديكور</td>
                    <td>استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>د/ قرشي سعدي أحمد سعد </td>
                    <td>الديكور</td>
                    <td> مدرس </td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>د/ رشا جابر ايوب واصف </td>
                    <td>الديكور</td>
                    <td> مدرس </td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>د/ علياء ماهر محمد حمدان </td>
                    <td>الديكور</td>
                    <td> مدرس </td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>د/ ثروت عبد اللطيف عوض إبراهيم </td>
                    <td>الديكور</td>
                    <td> مدرس </td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>د/ محمود عبد الحميد محمود  </td>
                    <td>الديكور</td>
                    <td> مدرس </td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>د/ جهاد محمد حامد شريت </td>
                    <td>الديكور</td>
                    <td> مدرس </td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>د/ علياء كامل عبد الناصر</td>
                    <td>الديكور</td>
                    <td> مدرس </td>
                  </tr>
                  <tr>
                    <th scope="row">11</th>
                    <td>د/ محمد يونس فكري عامر </td>
                    <td>الديكور</td>
                    <td> مدرس </td>
                  </tr>
                  <tr>
                    <th scope="row">12</th>
                    <td>د/ منى سعد محمد محمود </td>
                    <td>الديكور</td>
                    <td> مدرس </td>
                  </tr>
                  <tr>
                    <th scope="row">13</th>
                    <td>م.م / مها عبد الستار عباس </td>
                    <td>الديكور</td>
                    <td> مدرس مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">14</th>
                    <td>م.م / أحمد محمد نبيه أحمد</td>
                    <td>الديكور</td>
                    <td> مدرس مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">15</th>
                    <td>م.م / مرام محمود ثابت محمد</td>
                    <td>الديكور</td>
                    <td> مدرس مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">16</th>
                    <td>م.م / محمد عوض عبد الحليم يعقوب </td>
                    <td>الديكور</td>
                    <td> مدرس مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">17</th>
                    <td>م.م / عبد الله البكري عبد الجليل درغام </td>
                    <td>الديكور</td>
                    <td> مدرس مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">18</th>
                    <td>م/ شعبان محمد خضري أحمد  </td>
                    <td>الديكور</td>
                    <td> معيد  </td>
                  </tr>
                  <tr>
                    <th scope="row">19</th>
                    <td>م/ سمية محمد محمد عبد الرحيم  </td>
                    <td>الديكور</td>
                    <td> معيد  </td>
                  </tr>
                  <tr>
                    <th scope="row">20</th>
                    <td>م/ كريم عبد السلام بكري محمد  </td>
                    <td>الديكور</td>
                    <td> معيد  </td>
                  </tr>
                  <tr>
                    <th scope="row">21</th>
                    <td>م/ أبانوب عادل شنودة ميخائيل   </td>
                    <td>الديكور</td>
                    <td> معيد  </td>
                  </tr>
                  <tr>
                    <th scope="row">22</th>
                    <td>م/ جيرمين جرجس نسيم عطية   </td>
                    <td>الديكور</td>
                    <td> معيد  </td>
                  </tr>
                  <tr>
                    <th scope="row">23</th>
                    <td>م/ ندى علاء سيد محمد   </td>
                    <td>الديكور</td>
                    <td> معيد  </td>
                  </tr>
                </tbody>
              </table>
           
        </div>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>




<app-scroll></app-scroll>

<app-footer></app-footer>
