<mat-sidenav-content > 
  <div class="content mat-elevation-z8" style="justify-content: center; height: calc(100vh - 98px);">
    <form [formGroup]="registerForm" (ngSubmit)="handleRegister()"> 
      <div style="color: red; font-size: medium;"
          *ngIf="registerForm.valid && isSumitted">
              <div>Check Your Data</div>
          </div>
      <div class="form-group mb-3">
          <input type="text" class="form-control "  placeholder="Enter First Name" formControlName ="fname">
          <div style="color: red; font-size: medium;"
           *ngIf="fname?.invalid && (isSumitted || fname?.dirty || fname?.touched )">
            <p *ngIf="fname?.errors?.required">* Name is required </p>
          </div>
      </div>
        <div class="form-group mb-3">
          <input type="text" class="form-control" placeholder="Enter Last Name"
          formControlName ="lname" required>
          <div style="color: red; font-size: medium;"
          *ngIf="fname?.invalid && (isSumitted || fname?.dirty || fname?.touched )">
              <div *ngIf="fname?.errors?.required">Last Name Is Required</div>
          </div>
        </div>
      <div class="form-group mb-3">
        <input type="email" class="form-control"  placeholder="Enter email" 
        required  formControlName ="email" (input)="this.emailUsedBefore=false">
        <div style="color: red; font-size: medium;"
        *ngIf="fname?.invalid && (isSumitted || fname?.dirty || fname?.touched )">
              <div *ngIf="email?.errors?.required">Email Is Required</div>
          </div>
          <div class="my-3 alert alert-danger" *ngIf="emailUsedBefore">
            <p>* Email used before </p>
        </div>
      </div>
      <div class="form-group mb-3">
          <input type="text" class="form-control" placeholder="Enter Your Phone"
          formControlName ="phone">
        </div>
      <div class="form-group mb-3">
        <input type="password" class="form-control" placeholder="Enter password" 
        formControlName ="password" required>
        <div style="color: red; font-size: medium;"
        *ngIf="password?.invalid && (isSumitted || password?.dirty || password?.touched )">
              <div *ngIf="password?.errors?.required">Passward Is Required</div>
          </div>
      </div>
      <div class="input-group mb-3">
          <select class="form-select" formControlName ="role">
              <option value="" selected>Open This Select User Type</option>
              <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
            </select>
    
            <!-- <div style="color: red; font-size: medium;"
            *ngIf="role?.invalid && (isSumitted || role?.dirty || role?.touched )">
             <p *ngIf="fname?.errors?.required">* Name is required </p>
           </div> -->
      </div>
     
        <div class="input-group mb-3">
          <input type="file" class="form-control"  formControlName ="image">
          <label class="input-group-text" for="img">img</label>
        </div>
      <!-- <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" ngModel> Remember me
        </label>
      </div> -->
      <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</mat-sidenav-content>
