<!-- start section header -->

<header>
  <!-- start section header and navbar top -->
  <div class="navbar-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="social_media">
            <ul>
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/" target="_blank">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
              <li>
                <a href="https://www.pinterest.com/" target="_blank">
                  <i class="fab fa-pinterest"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row lang">
            <div class="col-sm-6">
              <div class="search">
                <input type="search" />
                <i class="fas fa-search"></i>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="ar">
                <a class="toggle" href="javascript:void(0)">AR</a>
                <i class="toggle fas fa-angle-down"></i>
              </div>
              <div class="en">
                <a href="javascript:void(0)">EN</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end section header and navbar top -->

  <div class="clear"></div>

  <!-- start section header and navbar -->

  <nav class="navbar">
    <div class="container">
      <div class="main_menu">
        <div class="row">
          <div class="md-2">
            <div class="image">
              <a routerLink="/">

                <img
                  src="assets/photo/logo.png"
                  alt="كلية الحاسبات والمعلومات"
                  style="height: 150%; width: 150%;"
                />
              </a>
            </div>
          </div>
          <div class="md-8">
            <!-- start section navbar menu -->

            <div class="super_menu" id="super_menu" [class.show]="showing">
              <ul>
                <li>
                  <a routerLink="/">الرئيسية</a>
                </li>
                <li>
                  <a href="javascript:void(0)">عن الكلية</a>
                  <i class="fas fa-angle-down fa-xs i"></i>

                  <!-- start section navbar menu and sup_menu -->

                  <div class="sup_menu row">
                    <ul class="unorder_sup_menu">
                      <div class="d-md-flex align-items-start justify-content-start ">
                      <div>
                          <div class="dropdown-header myHeader">نبذه عن الكليه</div>
                          <li>
                            <div class="parent" style="display: inline-block">
                              <i class="fa fa-check i_thecond"></i>
                              <a routerLink="/about/info/faculty-goals">
                                أهداف الكلية</a
                              >
                            </div>
                          </li>
                          <li>
                            <div class="parent" style="display: inline-block">
                              <i class="fa fa-history i_thecond"></i>
                              <a routerLink="/about/info/faculty-history">
                                تاريخ الكلية</a
                              >
                            </div>
                          </li>
                          <li>

                            <div class="parent" style="display: inline-block">
                              <i class="fa fa-eye i_thecond"></i>
                              <a routerLink="/about/info/faculty-vision">
                                رؤية الكلية</a
                              >
                            </div>
                          </li>
                        <li>
                          <div class="parent" style="display: inline-block">
                            <i class="fa fa-tasks i_thecond"></i>
                            <a routerLink="/about/info/faculty-message">
                              رسالة الكلية</a
                            >
                          </div>
                        </li>
                     </div>
                     <div>
                      <div class="dropdown-header myHeader">إداراه الكليه</div>
                        <li>
                          <div class="parent" style="display: inline-block">
                            <a
                              routerLink="/about/info/faculty-president"
                            >
                              كلمة عميد الكلية</a
                            >
                          </div>
                        </li>
                        <li>
                          <div class="parent" style="display: inline-block">
                            <a
                              routerLink="/about/info/faculty-president"
                            >
                                إتحاد الطلاب</a
                            >
                          </div>
                        </li>
                      </div>
                      </div>

                      </ul>
                  </div>
                  <!-- end section navbar menu and sup_menu -->
                </li>


                <!--High Managment-->
                <li>
                  <a href="javascript:void(0);">الحياة الأكاديمية</a>
                  <i class="fas fa-angle-down fa-xs i"></i>

                  <!-- start shection navbar menu and sup_menu -->
                  <div class="sup_menu row">
                    <ul class="unorder_sup_menu">
                      <div class="d-md-flex align-items-start justify-content-start ">
                      <div>
                          <div class="dropdown-header myHeader">أقسام الكليه المختلفه</div>
                          
                          <li>
                            <a routerLink="/about/department/information-system">
                            <div class="parent" style="display: inline-block">
                              <a routerLink="/about/department/information-system">
                                قسم التصوير</a
                              >
                            </div>
                            </a>
                          </li>
                          <li>
                            <a routerLink="/about/department/multimedia">
                            <div class="parent" style="display: inline-block">
                              <a routerLink="/about/department/multimedia">
                                قسم الديكور</a
                              >
                            </div>
                            </a>
                          </li>
                          <li>
                            <a routerLink="/about/department/information-technology">
                            <div class="parent" style="display: inline-block">
                              <a routerLink="/about/department/information-technology">
                                قسم العمارة</a
                              >
                            </div>
                            </a>
                          </li>
                          <li>
                            <a routerLink="/about/department/computer-science">
                            <div class="parent" style="display: inline-block">
                              <a routerLink="/about/department/computer-science">
                                الفنون العامة وتاريخ الفن</a
                              >
                            </div>
                            </a>
                          </li>
                     </div>
                     <div>
                      <div class="dropdown-header myHeader"> النظام الدراسي بالكليه</div>
                        <li>
                          <div class="parent" style="display: inline-block">
                            <a
                              routerLink="/academciclife/graduation-projects"
                            >
                                مشاريع التخرج</a
                            >
                          </div>
                        </li>
                        <li>
                          <div class="parent" style="display: inline-block">
                            <a routerLink="/about/info/faculty-system">
                              لائحه الكلية</a
                            >
                          </div>
                        </li>
                        
                      </div>
                      </div>
                      </ul>
                  </div>


                  <!-- start section navbar menu and sup_menu -->
               </li>

                <li>
                  <a href="javascript:void(0);"> الوحدات</a>
                  <i class="fas fa-angle-down fa-xs i"></i>

                  <!-- start shection navbar menu and sup_menu -->
                  <div class="sup_menu row">
                    <ul class="unorder_sup_menu">
                      <div class="d-md-flex align-items-start justify-content-start ">
                      <div>
                          <div class="dropdown-header myHeader"> وحدة ضمان الجودة والإعتماد الأكاديمى</div>
                          <li>
                            <a routerLink="/units/about-unit">
                            <div class="parent" style="display: inline-block">
                              <a routerLink="/units/about-unit">
                                نبذه عن الوحده </a
                              >
                            </div>
                            </a>
                          </li>
                          <li>
                            <a routerLink="/units/organition-chart">
                            <div class="parent" style="display: inline-block">
                              <a routerLink="/units/organition-chart">
                                 الهيكل التنظيمي للوحده</a
                              >
                            </div>
                            </a>
                          </li>
                          <li>
                            <a routerLink="/about/info/faculty-departments">
                            <div class="parent" style="display: inline-block">
                              <a routerLink="/about/info/faculty-departments">
                                 دليل الطالب</a
                              >
                            </div>
                            </a>
                          </li>
                     </div>
                     <div>
                      <div class="dropdown-header myHeader"> وحدات ذات طابع خاص</div>
                        <li>
                          <div class="parent" style="display: inline-block">
                            <a
                              routerLink="/units/counsoling-center"
                            >
                            مركز الاستشارات  </a
                            >
                          </div>
                        </li>
                      </div>
                      </div>
                      </ul>
                  </div>


                  <!-- start section navbar menu and sup_menu -->
                </li>

                <li>
                  <a href="javascript:void(0);">  اخبار الكليه</a>

                </li>

              </ul>
            </div>

            <!-- end section navbar menu -->
          </div>
          <div class="md-2">
            <!-- start section navbar menu -->
            <div class="clear"></div>
            <div class="nav_toggle">
              <i class="fas fa-outdent icon" (click)="toggleClass()"></i>
            </div>

            <!-- end section navbar menu -->
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- end section header and navbar -->
</header>

<!-- end section header -->
