<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">أخبار الكلية</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title mb-5">
            <h2>
                أخبار الكلية 
            </h2>
            
        </div>
        <section class="container my-4">
            <span class="alert alert-danger" *ngIf="allNews?.data.length==0; else Data">
                No News Yet
            </span>
            <ng-template #Data>
                <div class="row" style="text-align: right;">
                    <article class="col-md-4 col-12"  *ngFor="let new of allNews?.data">
                        <div class="card mb-5" style="height: 474px;" >
                            <img [src]="apiUrl+new.image[0].path" class="img-fluid"  style="height: 221px;">
                            <div class="card-body">
                                <h5 class="card-title">{{new.title | slice:0:41}}...</h5>
                                <p class="card-text"> {{new.content | slice:0:80 }}
                                    <a  routerLink="/single-event/{{new._id}}">قراءه المزيد ...</a>
                                  </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{new.createdAt}}</small>
                            </div>
                        </div>
                    </article>
                </div>
                
              </ng-template>
            
        </section>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>




<app-scroll></app-scroll>

<app-footer></app-footer>
