<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الكلية</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-president">كلمة عميد الكلية</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                كلمة عميد الكلية
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="photo-unve-pres">
                <img src="../../../../../assets/photo/da.png" alt="رئيس الجامعة"  class="UniversityPresidentImg">
            </div>
            <div class="head-artical">بسم الله الرحمن الرحيم</div>
            <div class="body-artical">أهلاً ومرحباً بكم في كليتكم مع خالص التهنئة وأطيب الأمنيات بمناسبة العام الدراسي الجديد، راجية من المولي عز وجل أن يكون عاماً جامعياً مباركاً ويكون النجاح والتوفيق حليفنا جميعاً.
                أبنائي الأعزاء طلاب وطالبات كلية الألسن -كل عام أنتم بخير بمناسبة بدء العام الدراسي الجديد 
                هنيئا لكم الالتحاق بكلية الألسن، والانضمام إلى أجيال
                أحفاد رفاعة الطهطاوي، ابن طهطا في سوهاج وأحد أهم رواد النهضة الحديثة في مصر ومؤسس اسم الألسن في النصف الثاني من القرن التاسع عشر.  أحفاد رفاعة يتقنون اللغات 
                الأجنبية تحدثا وكتابة ويعملون على إثراء الثقافة العربية برافد مهم من روافد الثقافة الحضارة العالمية، وتنبثق رؤية ورسالة الكلية من رؤية ورسالة جامعة الأقصر.                 
                </div>
            <div class="foot-artical"> والله ولى التوفيق،،،</div>
            <div class="Signature-artical">
                <strong><i>عميد كلية الالسن</i></strong>
                <div class="h6">أ.د/ ربيع محمد سلامة </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<div class="clear"></div>

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/about/info/history"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/about/facing-corona">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>
