<sb-layout-dashboard>
    <sb-dashboard-head title="AddNews" [hideBreadcrumbs]="false"> </sb-dashboard-head>
    <div class="container-fluid">
      <form #registerForm = "ngForm" (ngSubmit)="onMultipleSubmit(registerForm)" >
        <div class="form-group">
          <label>New's Title</label>
          <input type="text" class="form-control"  name="title" style="height: 50px;" [(ngModel)]="news.title">
        </div>
        <div class="form-group">
          <label>New's Content</label>
          <textarea class="form-control" name="content" rows="3" style="height: 200px;" [(ngModel)]="news.content" ></textarea>
        </div>
        <div class="input-group mt-3">
          <input type="file" class="form-control" name="image"  (change)="selectMultipleImage($event)"
           multiple ngModel>
          <label class="input-group-text" for="imgage">imgs</label>
        </div>
        <!-- <img *ngFor='let url of news.image.path'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/> -->
        <button type="submit" class="btn btn-primary mt-3 mb-3">Publish</button>
      </form>
    </div>
    
</sb-layout-dashboard>