<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">الحياه الاكاديميه </a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-goals">قسم النحت </a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                 قسم النحت 
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <h4 style="margin-bottom: 20px;">أعضاء هيئه التدريس</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">م</th>
                    <th scope="col">الاسم</th>
                    <th scope="col">القسم</th>
                    <th scope="col">الدرجه العلميه</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>أ.د/ هشام تهامي إدريس المعداوي </td>
                    <td>النحت</td>
                    <td>استاذ </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>أ.م.د/ مريم جيد فرهام بطرس </td>
                    <td>النحت</td>
                    <td>استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>أ.م.د/ يوسف محمود إبراهيم </td>
                    <td>النحت</td>
                    <td> استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>أ.م.د/ رمضان عبد المعتمد سيد </td>
                    <td>النحت</td>
                    <td>استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>أ.م.د/ عصمت محمد صادق </td>
                    <td>النحت</td>
                    <td>استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>أ.م.د/ صلاح شعبان حسانين </td>
                    <td>النحت</td>
                    <td>استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>أ.م.د/ هيثم عامر محمود حسن </td>
                    <td>النحت</td>
                    <td>استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>د/ إبراهيم محمد منصور السيد </td>
                    <td>النحت</td>
                    <td>مدرس  </td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>د/ سارة منصور محمود </td>
                    <td>النحت</td>
                    <td> مدرس </td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>م.م/ رحمة محمود أحمد محمود </td>
                    <td>النحت</td>
                    <td>استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">11</th>
                    <td>م.م/ أسماء عطيتو مسكين </td>
                    <td>النحت</td>
                    <td>استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">12</th>
                    <td>م.م / حامد محمد مصطفى حامد </td>
                    <td>النحت</td>
                    <td>استاذ مساعد </td>
                  </tr>
                  <tr>
                    <th scope="row">13</th>
                    <td>م/ مصطفى محمود مصطفى  </td>
                    <td>النحت</td>
                    <td> معيد </td>
                  </tr>
                  <tr>
                    <th scope="row">14</th>
                    <td>م/ اسماء أحمد إبراهيم محمد </td>
                    <td>النحت</td>
                    <td> معيد </td>
                  </tr>
                  <tr>
                    <th scope="row">15</th>
                    <td>م/غادة أيمن السيد البسطويسي   </td>
                    <td>النحت</td>
                    <td> معيد </td>
                  </tr>
                  <tr>
                    <th scope="row">16</th>
                    <td>م/ الزهراء محمد نجيب علام  </td>
                    <td>النحت</td>
                    <td> معيد </td>
                  </tr>
                </tbody>
              </table>
           
        </div>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>




<app-scroll></app-scroll>

<app-footer></app-footer>
