

<!-- start section news-->

<div class="container">
  <div class="card-group" style="text-align: right; margin-bottom: 20px; margin-top: 20px;">
    <div class="card" style="margin: 5px;">
      <img class="card-img-top" src="../../../../../assets/photo/slider1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ذوي كفاءة عالية في مجال علوم الحاسبات وتقنية</h5>
        <p class="card-text" style="color: #504343;">بسم الله والحمد لله والصلاة والسلام على رسول الله وبعد لقد جاء قرار إنشـاء كليـة الحـاسبات والمعلومات بمحافظة الأقصر في إطار إهتمام الدولة بقطاع تقنية المعلومات، وإستجابة للتطورات السريعة التي يشهدها عالمنا في هذا المجال. وقد بدأت الكلية بإستقبال الطلاب مع مطلع الفصل الدراسي الأول للعام الجامعي 2015/2016م، وقد وضعت الكلية أهدافاً طموحة لخدمة الخطة التنموية للوطن وذلك بتكوين متخصصين ذوي كفاءة عالية في مجال علوم الحاسبات وتقنية المعلومات ونظم المعلومات. كما تسعى الكلية لتقديم أبحاث ودراسات وإستشارات</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card" style="margin: 5px;">
      <img class="card-img-top" src="../../../../../assets/photo/slider1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ذوي كفاءة عالية في مجال علوم الحاسبات وتقنية</h5>
        <p class="card-text"  style="color: #504343;">بسم الله والحمد لله والصلاة والسلام على رسول الله وبعد لقد جاء قرار إنشـاء كليـة الحـاسبات والمعلومات بمحافظة الأقصر في إطار إهتمام الدولة بقطاع تقنية المعلومات، وإستجابة للتطورات السريعة التي يشهدها عالمنا في هذا المجال. وقد بدأت الكلية بإستقبال الطلاب مع مطلع الفصل الدراسي الأول للعام الجامعي 2015/2016م، وقد وضعت الكلية أهدافاً طموحة لخدمة الخطة التنموية للوطن وذلك بتكوين متخصصين ذوي كفاءة عالية في مجال علوم الحاسبات وتقنية المعلومات ونظم المعلومات. كما تسعى الكلية لتقديم أبحاث ودراسات وإستشارات</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card"style="margin: 5px;">
      <img class="card-img-top" src="../../../../../assets/photo/slider1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ذوي كفاءة عالية في مجال علوم الحاسبات وتقنية</h5>
        <p class="card-text"  style="color: #504343;">بسم الله والحمد لله والصلاة والسلام على رسول الله وبعد لقد جاء قرار إنشـاء كليـة الحـاسبات والمعلومات بمحافظة الأقصر في إطار إهتمام الدولة بقطاع تقنية المعلومات، وإستجابة للتطورات السريعة التي يشهدها عالمنا في هذا المجال. وقد بدأت الكلية بإستقبال الطلاب مع مطلع الفصل الدراسي الأول للعام الجامعي 2015/2016م، وقد وضعت الكلية أهدافاً طموحة لخدمة الخطة التنموية للوطن وذلك بتكوين متخصصين ذوي كفاءة عالية في مجال علوم الحاسبات وتقنية المعلومات ونظم المعلومات. كما تسعى الكلية لتقديم أبحاث ودراسات وإستشارات</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

</div>


<!-- end section news-->

<app-scroll></app-scroll>
