<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الكلية</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-goals"> اتحاد طلاب الكلية</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                اتحاد طلاب الكلية 
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <strong>يعمل مجلس اتحاد طلاب الكلية على تحقيق أهداف الاتحادات الطلابية من خلال اللجان التالية: </strong>
            <ol>
                <li>&nbsp;&nbsp; <strong>لجنة الاتحادات والاسر الطلابية:</strong><br>
                    وهي تعمل على تكوين الأسر بالكلية ودعم نشاطها والتنسيق بين نشاط الاسر المختلفة بالكلية.
                 </li>
                 <li>&nbsp;&nbsp; <strong>اللجنة الاجتماعية والرحلات:</strong><br>
                    تختص بتنظيم الرحلات والمعسكرات الاجتماعية والثقافية وتعمل على تنمية الروابط الاجتماعية بين الطلاب واعضاء هيئة التدريس والعاملين واشاعة روح التعاون والاخاء بينهم.       
                 </li>
                 <li>&nbsp;&nbsp; <strong>اللجنة الرياضية:</strong><br>
                    وتعمل على بث الروح الرياضية بين الطلاب وتشجيع المواهب الرياضية والعمل على تنميتها وتنظيم النشاط الرياضي بالكلية واقامة المباريات والمسابقات والمهرجانات الرياضية. 
                 </li>
                 <li>&nbsp;&nbsp; <strong>اللجنة الثقافية: </strong><br>
                    وتختص بتنظيم أوجه النشاط الثقافي وتنمية الطاقات الأدبية والثقافية للطلاب.
                 </li>
                 <li>&nbsp;&nbsp; <strong>اللجنة الفنية:</strong><br>
                    تعمل على تنمية النشاط الفني للطلاب واتاحة الفرصة لإبراز المواهب الفنية وتشجيع الانشطة الفنية والهوايات للطلاب ودعمها. 
                 </li>
                 <li>&nbsp;&nbsp; <strong>	لجنة الجوالة والخدمة العامة:</strong><br>
                    تختص بتنفيذ برامج خدمة البيئة التي يقرها مجلس الكلية والأقسام بما يساهم في تنمية المجتمع وإشراك الطلاب في تنفيذها والمساهمة في مشروعات الخدمة العامة والقومية.
                 </li>
                 <li>&nbsp;&nbsp; <strong>اللجنة العلمية والتكنولوجية:</strong><br>
                    تختص بتنظيم النشاط العلمي وتنظيم الندوات والمسابقات العلمية والتكنولوجية، ويتم تشكيل لجان اتحاد الطلاب سنويا عن طريق الانتخاب عن كل سنة دراسية لكل لجنة من لجان الاتحاد السبعة.
                 </li>
            </ol>
            <h4 style="margin-bottom: 20px; text-align: center;">  تشكيل اتحاد الطلاب للعام الجامعي 2020/2021م</h4>
            <img  src="../../../../../assets/photo/uniStud.jpg">
        </div>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>




<app-scroll></app-scroll>

<app-footer></app-footer>
