<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الكلية</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-president">كلمة عميد الكلية</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                كلمة عميد الكلية
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="photo-unve-pres">
                <img src="../../../../../assets/photo/pres.png" alt="رئيس الجامعة"  class="UniversityPresidentImg">
            </div>
            
            <div class="head-artical">بسم الله الرحمن الرحيم</div>
            <div class="body-artical">أبنائي طلاب وطالبات كلية الآثار ...
                مع إطلالة عام دراسي جديد، أرحب بكم في رحاب كلية الآثار، جامعة الأقصر، كلية العراقة والتميز.
                عراقة تميزت بها حضارة مصرنا الحبيبة التي ضربت جذورها في أعماق التاريخ منذ آلاف السنين؛ لتبني قواعدًا للمجد ولتكون تاجًا للعلاء في مفرق الشرق القديم، ومنارة وضّاءة لكافة فنون العلم والمعرفة بين الحضارات المجاورة، ثم تميزت في العصرين اليوناني والروماني، وفي العصر القبطي، ثم ازدهرت في عصرها الإسلامي، حين علا أرضها الجامع الأزهر الشريف جامعة لكل العلماء في الشرق واحتوت أرضها في تلك الفترة روائع الفن القبطي في كنائسه واديرته وآثاره، والفريد من نفائس العمارة والفنون الإسلامية، جنبًا إلى جنب لتعلن عن تواصل حضاري عريق استحقت به مصر أن تكون أرض الحضارات، ارض المعابد والكنائس والمآذن.
                أما التميز فسوف تلمسونه سريعًا فيما يربطكم وأساتذتكم من سلوك إنساني واجتماعي متميز، فمعكم في قاعات لمحاضرات بعلمهم سيفيدون، وبأخلاقهم القويمة سيرشدون، ولأجلكم كل حب وعطاء سيمنحون.
                أما من الجميع أن يكونوا على مستوى الإدراك وما يترتب عليه من واجبات تبدأ من الاجتهاد والجد والمثابرة، وننطلق إلى المشاركات المعرفية والثقافية في البرامج والأنشطة عبر اتحاد الطلاب واللجان والأسر، إلى جانب تنمية روح المبادرة والابتكار والتميز في إطار ما يلاقونه من صور الرعاية والمتابعة والدعم والتشجيع لكل ما هو جاد وأصيل، تحت ظلال روح الأسرة الجامعية في أرفع مستوياتها، مرحبا بكم في كليتكم وأتمنى لكم موصول التوفيق والسداد والنجاح والتوفيق.
                وفي نهاية كلمتي أرجو لكم جميعا التوفيق، آملا أن تتواصل بكم حضارات مصر ونهضتها وازدهارها دائما بمشيئة الله.
                وفي نهاية كلمتي أرجو لكم جميعا التوفيق، آملا أن تتواصل بكم حضارات مصر ونهضتها وازدهارها دائما بمشيئة الله.</div>
            <div class="foot-artical"> والله ولى التوفيق،،،</div>
            <div class="Signature-artical">
                <strong><i>عميد كليه الآثار</i></strong>
                <div class="h6">السيد الأستاذ الدكتور/ بدوي محمد إسماعيل عميد الكلية</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<div class="clear"></div>

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/about/info/history"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/about/facing-corona">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>
