<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الكلية</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-president">كلمة عميد الكلية</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                كلمة عميد الكلية
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="photo-unve-pres">
                <img src="../../../../../assets/photo/19_2020-637373354015554905-555.jpg" alt="رئيس الجامعة"  class="UniversityPresidentImg">
            </div>
            <div class="head-artical">بسم الله الرحمن الرحيم</div>
            <div class="body-artical">
                سعادتي بالغة حيث أكتب اليوم كلمة الترحيب لأبنائي وبناتي الطلاب والطالبات، فأهلاً وسهلاً بكم في كلية الفنون الجميلة، ُدورة جامعة الأقصر، كلية الفن والإبداع وسُلم بناء الحضارة والتاريخ.

إن أبرز أهداف كلية الفنون الجميلة هو نشر التعليم والثقافة والبحث العلمي ومصادر المعرفة والسعي ُقدماً في تأكيد خدمتها للمجتمع مؤكدة بذلك على دورها في تنمية المجتمع المدني، وذلك من خلال التأكيد والتدعيم بمقومات الجودة المتميزة من منظور عالمي.

إن دراسة الفنون الجميلة "جرافيك – تصوير – نحت – ديكور" كلها دراسات بصرية تهتم بلغة الشكل والمضمون دراسة الجمال والوظيفة، فلا يوجد شيء في حياتنا اليوم بلا شكل أو وظيفة فما نقوم به اليوم من إبداعات تشكيلية معبرة عن استشراف المستقبل، معبرة عن مدى تواصلنا مع نسيج وحضارة العالم ولما لا؟؟ وقد أصبح العالم عبارة عن قرية كونية وهذا ما أدركته القيادة السياسية ونحن على أعتاب الجمهورية الجديدة، وعليه فقد أدركت هذه القيادة الواعية حجم وقيمة الفن بمختلف أنواعه ومشاربة.

وأنتهز هذه المناسبة لأتقدم بأسمى آيات الشكر والتقدير لسعادة الأستاذ الدكتور/ رئيس الجامعة لما يقوم به سيادته من دعم وتوجيه لتوفير بيئة أكاديمية مميزة داعمة لعملية التعليم والتعلم، مع أصدق الأمنيات أن يكون هذا العام وكل الأعوام الدراسية حافلة بالعطاء ومكللة بالنجاح ومليئة بالإنجازات والتميز.

أبنائي وبناتي طلبة الكلية، أحثكم على تنمية روح الإبداع والابتكار والنهوض والتطوير لمعارفكم وخبراتكم على الدوام، وكلي أمل بل وثقة أن يخرج من بينكم مبدعي العالم ليساهموا في ازدهار ودفع عجلة مسيرة العطاء لخدمة مصرنا الغالية لمواكبة عُرس الجمهورية الجديدة.

            </div>
            <div class="foot-artical"> والله ولى التوفيق،،،</div>
            <div class="Signature-artical">
                <strong><i>عميد كلية الفنون الجميلة</i></strong>
                <div class="h6">السيد الأستاذ الدكتور/ أحمد محيي حمزة عميد الكلية</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<div class="clear"></div>

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/about/info/history"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/about/facing-corona">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>
