<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);"> الحياة الأكاديمية</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/history"> قوائم اللجان</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                قوائم اللجان
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="body-artical">
                <a href="luxor.edu.eg:8105/AlsunList/اسبانى انتساب.pdf" target="_blank"> اسبانى انتساب</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/اسبانى خ.pdf" target="_blank"> اسبانى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/المانى خ.pdf" target="_blank"> المانى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/ايطالى خ.pdf" target="_blank"> ايطالى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/تانية صينى.pdf" target="_blank"> تانية صينى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/صينى انتساب.pdf" target="_blank"> صينى انتساب</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/ايطالى خ.pdf" target="_blank"> ايطالى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/ثالثة اسبانى.pdf" target="_blank"> ثالثة اسبانى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/ثالثة المانى خ.pdf" target="_blank"> ثالثة المانى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/ثالثة ايطالى.pdf" target="_blank"> ثالثة ايطالى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/ثالثة المانى.pdf" target="_blank"> ثالثة المانى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/ثالثة انجليزى.pdf" target="_blank"> ثالثة انجليزى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/ثالثة صينى كامل.pdf" target="_blank"> ثالثة صينى كامل</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/ثالثة روسى.pdf" target="_blank"> ثالثة روسى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/فرنسى خ.pdf" target="_blank"> فرنسى</a><br>
                <a href="luxor.edu.eg:8105/AlsunList/ثالثة فرنسى.pdf" target="_blank"> ثالثة فرنسى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/رابعة المانى 1.pdf" target="_blank"> رابعة المانى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/رابعة انجليزى.pdf" target="_blank"> رابعة انجليزى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/رابعة المانى.pdf" target="_blank"> رابعة المانى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/رابعة روسى.pdf" target="_blank"> رابعة روسى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/رابعة ايطالى.pdf" target="_blank"> رابعة ايطالى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/رابعة صينى.pdf" target="_blank"> رابعة صينى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/اسبانى.pdf" target="_blank">اسبانى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/المانى.pdf" target="_blank">المانى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/اولى ايطالى.pdf" target="_blank">اولى ايطالى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/اولى روسى.pdf" target="_blank">اولى روسى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/اولى انجليزى.pdf" target="_blank">اولى انجليزى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/صينى اولى.pdf" target="_blank">اولى صينى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/صينى اولى خ.pdf" target="_blank">اولى صينى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/فرنسى اولى.pdf" target="_blank">اولى فرنسى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/لجنة خاصة فرنسى.pdf" target="_blank"> لجنة خاصة فرنسى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/المانى خ.pdf" target="_blank"> المانى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/انتساب المانى.pdf" target="_blank"> انتساب المانى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/انتساب انجليزى.pdf" target="_blank"> انتساب انجليزى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/تانية اسبانى.pdf" target="_blank">  تانية اسبانى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/تانية ايطالى.pdf" target="_blank">  تانية ايطالى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/تانية انجليزى.pdf" target="_blank">  تانية انجليزى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/تانية المانى.pdf" target="_blank">  تانية المانى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/تانية فرنسى انتساب.pdf" target="_blank">   تانية فرنسى انتساب </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/تانية روسى.pdf" target="_blank">  تانية روسى </a><br>
                <a href="luxor.edu.eg:8105/AlsunList/تانية فرنسى.pdf" target="_blank">  تانية فرنسى </a><br>


            </div>

    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>
